.listItem {
  margin-top: var(--space-md);
  font-size: var(--font-md);
  color: var(--charcoal);
  padding: var(--space-sm);
  border-radius: var(--border-radius);
}

.listItem:nth-child(odd) {
  background-color: var(--light-grey);
}

.listItem:nth-child(even) {
  background-color: var(--gold);
}

.listItem p {
  margin-bottom: var(--space-sm);
}

.btnContainer {
  display: flex;
  justify-content: flex-end;
}

.btnContainer button {
  padding: 0;
  background-color: transparent;
  color: var(--charcoal)
}

.btnContainer button:hover {
  color: red;
}